<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>login</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% load static %}
    <link rel="stylesheet" media="screen" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/reset.css' %}"/>

</head>
<body>

<div id="particles-js">
    <div class="login">
        <div class="login-top">
            登录
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="{% static '/imgs/name.png' %}"/></div>
                <div class="login-center-input">
                    <input type="text" name="user" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''"
                           onblur="this.placeholder='请输入您的用户名'"/>
                    <div class="login-center-input-text">用户名</div>
                </div>
            </div>
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="{% static '/imgs/password.png' %}"/></div>
                <div class="login-center-input">
                    <input type="password" name="pwd" value="" placeholder="请输入您的密码" onfocus="this.placeholder=''"
                           onblur="this.placeholder='请输入您的密码'"/>
                    <div class="login-center-input-text">密码</div>
                </div>
            </div>
            <div style="text-align: center;color: red">{{ err_msg }}</div>
            <button class="login-button" style="text-align: center;display: block">登录</button>

        </form>
    </div>
    <div class="sk-rotating-plane"></div>
</div>

<script src="{% static '/js/particles.min.js' %}"></script>
<script src="{% static '/js/app.js' %}"></script>
</body>
</html>